/ManagmentAdapter/target/
/DMCore/target/
/DeviceMgmntFunctions/DiagnosticsAndMonitoring/target/
/BootstrapServer/target/
/CaseStudy/ControlCenter/target/
/CaseStudy/OperationField/target/
/JT/nbproject/private/